/*untuk efek-efeknya*/

.hidden {
	opacity: 0;
}
.visible {
	opacity: 1;
}

/*tinggi link di sidenav*/

/*ul.sidenav li a {
	height: auto;
}*/

/*link*/

.medium a {
	color: inherit !important;
	text-decoration: underline;
}

/*masalah pada tag strong*/

strong {
	font-weight: bold !important;
}